.title {
  text-align: center;
  color: #7f7c82;
  padding: 40px;
}

.content {
  max-width: 100vw;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  gap: 50px;
  justify-content: centergit;
  min-height: 100%;
}
